/* @generated */
/* From app.css */
._3xGC0ygnA_ {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  background: #f0f1f2;
  font-family: AtlasGrotesk, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Reset box-sizing */

._3xGC0ygnA_ *, ._3xGC0ygnA_ *::before, ._3xGC0ygnA_ *::after {
  box-sizing: border-box;
}

._3xGC0ygnA_ aside {
  background: white;
}

._1kc_TlcqgD {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

/**
 * THE RULES BELOW ARE DUMMIES FOR TESTING
 */

[data-theme=web] ._3xGC0ygnA_ {
  transform: translateZ(0);
}

/* From constants.css */
:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

/* From doc-sidebar.css */
._3fqREDOmbd {
  position: relative;
  display: inline-block;
  margin: 13px 0;
  text-indent: -1000vw;
  font-size: 0;
  color: transparent;
  animation-delay: 0.3s;
}._3fqREDOmbd {
  border-radius: 100%;
  background-color: black;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  animation: _3tD7Bl0XGQ 0.9s ease-in-out infinite;
}._3fqREDOmbd::after {
  border-radius: 100%;
  background-color: black;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  animation: _3tD7Bl0XGQ 0.9s ease-in-out infinite;
}._3fqREDOmbd::before {
  border-radius: 100%;
  background-color: black;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  animation: _3tD7Bl0XGQ 0.9s ease-in-out infinite;
}._3fqREDOmbd::after, ._3fqREDOmbd::before {
  content: '';
  vertical-align: middle;
  position: absolute;
}._3fqREDOmbd::before {
  margin-left: 10px;
  left: 0;
}._3fqREDOmbd::after {
  right: 0;
  margin-right: 10px;
  animation-delay: 0.6s;
}@keyframes _3tD7Bl0XGQ {
  50% {
    opacity: 1;
  }

  0%, 100% {
    opacity: 0.3;
  }
}

:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

._2v4PoiRsrH {
  width: 0;
  font-size: 12px;
  outline: none;
  height: 100%;
  background: #f7f9fa;
  will-change: width;
  transition: width 300ms;
  flex-shrink: 0;
}

._2v4PoiRsrH._3xDsfsL9DL {
  width: 184px;
}

._2v4PoiRsrH ol {
  box-sizing: border-box;
  position: relative; /* Important so that calculating offsetTop works */
  list-style: none;
  border: none;
  margin: 0;
  padding: 16px 0 0 0;

  /*
     * These are important cause we use that to determine if
     * we should scroll an item into view
     */
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

._2v4PoiRsrH li {
  display: block;
}

._2v4PoiRsrH li a:link, ._2v4PoiRsrH li a:visited {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 28px;
  margin-bottom: 16px;

  /* Reset anchor styles for all states */
  text-decoration: none;
  outline: none;
  color: black;
}

._2v4PoiRsrH li a:link, ._2v4PoiRsrH li a:visited {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 28px;
  margin-bottom: 16px;

  /* Reset anchor styles for all states */
  text-decoration: none;
  outline: none;
  color: black;
}

._2v4PoiRsrH li a:any-link {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 28px;
  margin-bottom: 16px;

  /* Reset anchor styles for all states */
  text-decoration: none;
  outline: none;
  color: black;
}

._2ClAleT9eY {
  position: relative;
  font-size: 0;
  line-height: 0;
  border: 4px solid #f7f9fa;
  background: #e6e8eb;

  /* So that thumbnail's centered even with border */
  margin: 0 0 4px -4px;
  width: 128px;
}

._2ClAleT9eY img {
  position: absolute;
  z-index: 1;
  width: 100%;
}

._3H2YpoVw2D {
}

._2ClAleT9eY ._3H2YpoVw2D {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

._2ClAleT9eY._1WLEsxcjZm {
  border-color: #536170;
}

._2v4PoiRsrH._2AVKrdcdST ._2ClAleT9eY._1WLEsxcjZm {
  border-color: #0070e0;
}

/* From layer.css */
._12-vN5QMU_ {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}

._12-vN5QMU_._3sv4-KdpAY {
  pointer-events: auto;
}

/* From loader.css */
._3fqREDOmbd {
  position: relative;
  display: inline-block;
  margin: 13px 0;
  text-indent: -1000vw;
  font-size: 0;
  color: transparent;
  animation-delay: 0.3s;
}

._3fqREDOmbd {
  border-radius: 100%;
  background-color: black;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  animation: _3tD7Bl0XGQ 0.9s ease-in-out infinite;
}

._3fqREDOmbd::after {
  border-radius: 100%;
  background-color: black;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  animation: _3tD7Bl0XGQ 0.9s ease-in-out infinite;
}

._3fqREDOmbd::before {
  border-radius: 100%;
  background-color: black;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  animation: _3tD7Bl0XGQ 0.9s ease-in-out infinite;
}

._3fqREDOmbd::after, ._3fqREDOmbd::before {
  content: '';
  vertical-align: middle;
  position: absolute;
}

._3fqREDOmbd::before {
  margin-left: 10px;
  left: 0;
}

._3fqREDOmbd::after {
  right: 0;
  margin-right: 10px;
  animation-delay: 0.6s;
}

@keyframes _3tD7Bl0XGQ {
  50% {
    opacity: 1;
  }

  0%, 100% {
    opacity: 0.3;
  }
}

/* From constants.css */
:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

:root {
  /**
   * Width of the pane stack (e.g. where comments/metadata panes actually render).
   */

  /**
   * Width of the control list to the right of the sidebar pane stack.
   */

  /**
   * Width of the control list when the user hovers over collapsed control list.
   */

  /**
   * Total width of the sidebar when it is collapsed.
   */

  /**
   * Total width of the sidebar when the pane stack is expanded.
   */

  /**
   * The width/height of the icons of the controls in the control list.
   */

  /**
   * The width and height of a control button excluding padding.
   */
}

/* From control_list.css */
:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

:root {
  /**
   * Width of the pane stack (e.g. where comments/metadata panes actually render).
   */

  /**
   * Width of the control list to the right of the sidebar pane stack.
   */

  /**
   * Width of the control list when the user hovers over collapsed control list.
   */

  /**
   * Total width of the sidebar when it is collapsed.
   */

  /**
   * Total width of the sidebar when the pane stack is expanded.
   */

  /**
   * The width/height of the icons of the controls in the control list.
   */

  /**
   * The width and height of a control button excluding padding.
   */
}

._5hRhvsTRDu {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  padding: 16px 0;
  height: 100%;
  background: #f7f9fa;
  display: flex;
  flex-direction: column;
}

._2u9TnyYmDT + ._2u9TnyYmDT {
  margin-top: 8px;
}

._1l56KnLCts {
  display: flex;
  justify-content: center;
  align-items: center;
}

._1JOG8AxeAH {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
 * Add padding between the CTAs.
 */

._1JOG8AxeAH > *:not(:last-child) {
  margin-bottom: 8px;
}

._3DfCFtkX0k {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

._28j2UUwxL0 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

._1hg15rVhTv {
  position: relative;
  width: 70%;
  left: 15%;
  margin: 16px 0 8px;
  border: none;
  border-bottom: 1px solid #dddfe1;
}

/* From control.css */
:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

:root {
  /**
   * Width of the pane stack (e.g. where comments/metadata panes actually render).
   */

  /**
   * Width of the control list to the right of the sidebar pane stack.
   */

  /**
   * Width of the control list when the user hovers over collapsed control list.
   */

  /**
   * Total width of the sidebar when it is collapsed.
   */

  /**
   * Total width of the sidebar when the pane stack is expanded.
   */

  /**
   * The width/height of the icons of the controls in the control list.
   */

  /**
   * The width and height of a control button excluding padding.
   */
}

.BXSQ8s4gfq {
  /* Position relative is needed to position the highlight next to selected controls. */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 100%;
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: inherit;
  overflow: hidden;
}

.BXSQ8s4gfq + .BXSQ8s4gfq {
  margin-top: 4px;
}

.BXSQ8s4gfq::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  bottom: 0;
  background: #717781;
  transition: opacity 150ms ease-out;
  border-radius: 2px 0 0 2px;
  opacity: 0;
  pointer-events: none;
}

._3l-Swh4sdi::after {
  opacity: 1;
}

/**
 * HACK(awanghoyer): By default the tooltip wrapper applies a styles of display: inline-block. This
 * breaks layout styles around the control button icons. After talking with design systems they
 * recommended overriding this styles as needed. In the future™, they will be revamping many of
 * spectrum's core components and will hopefully address issues like this.
 */

.BXSQ8s4gfq .mc-positioned-portal-wrapper {
  display: block;
  width: 100%;
}

._33nnkxMPOU {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

._33nnkxMPOU::after {
  display: block;
  content: "";
  height: 32px;
  width: 32px;
  background: center/18px no-repeat;
}

.BXSQ8s4gfq[data-control-id="documentation"] ._33nnkxMPOU::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url%28%23clip0%29'%3E%3Crect width='18.6667' height='18.6667' transform='translate%280.666809 0.666687%29' fill='white'/%3E%3Cpath d='M18.5833 10.1482C18.5833 14.8886 14.7404 18.7315 9.99996 18.7315C5.25952 18.7315 1.41663 14.8886 1.41663 10.1482C1.41663 5.40771 5.25952 1.56482 9.99996 1.56482C14.7404 1.56482 18.5833 5.40771 18.5833 10.1482Z' stroke='%23717781' stroke-width='1.5'/%3E%3C/g%3E%3Cg clip-path='url%28%23clip1%29'%3E%3Crect x='9.20831' y='9.5379' width='1.58333' height='5.21296' rx='0.791667' fill='%23717781' stroke='%23717781' stroke-width='0.75'/%3E%3Crect x='9.20831' y='5.96014' width='1.58333' height='1.63519' rx='0.791667' fill='%23717781' stroke='%23717781' stroke-width='0.75'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='18.6667' height='18.6667' fill='white' transform='translate%280.666809 0.666687%29'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='2.33333' height='9.54074' fill='white' transform='translate%288.83331 5.58514%29'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.BXSQ8s4gfq[data-control-id="comments"] ._33nnkxMPOU::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.61438 16.844L8.08562 17.3759H8.08562L8.61438 16.844ZM10.0328 16.844L10.5615 17.3759H10.5615L10.0328 16.844ZM11.1746 15.7089L11.7034 16.2408L11.1746 15.7089ZM1.75 2C1.75 1.86193 1.86193 1.75 2 1.75V0.25C1.0335 0.25 0.25 1.0335 0.25 2H1.75ZM1.75 13.2548V2H0.25V13.2548H1.75ZM2 13.5048C1.86193 13.5048 1.75 13.3929 1.75 13.2548H0.25C0.25 14.2213 1.0335 15.0048 2 15.0048V13.5048ZM3.94745 13.5048H2V15.0048H3.94745V13.5048ZM9.14314 16.3121L8.00129 15.177L6.94376 16.2408L8.08562 17.3759L9.14314 16.3121ZM9.504 16.3121C9.40485 16.4107 9.24228 16.4107 9.14314 16.3121L8.08562 17.3759C8.76982 18.0561 9.87731 18.0561 10.5615 17.3759L9.504 16.3121ZM10.6458 15.177L9.504 16.3121L10.5615 17.3759L11.7034 16.2408L10.6458 15.177ZM16 13.5048H14.6997V15.0048H16V13.5048ZM16.25 13.2548C16.25 13.3929 16.1381 13.5048 16 13.5048V15.0048C16.9665 15.0048 17.75 14.2213 17.75 13.2548H16.25ZM16.25 2V13.2548H17.75V2H16.25ZM16 1.75C16.1381 1.75 16.25 1.86193 16.25 2H17.75C17.75 1.0335 16.9665 0.25 16 0.25V1.75ZM2 1.75H16V0.25H2V1.75ZM11.7034 16.2408C12.4997 15.4492 13.5769 15.0048 14.6997 15.0048V13.5048C13.1806 13.5048 11.7232 14.106 10.6458 15.177L11.7034 16.2408ZM3.94745 15.0048C5.07027 15.0048 6.14747 15.4492 6.94376 16.2408L8.00129 15.177C6.92395 14.106 5.46656 13.5048 3.94745 13.5048V15.0048Z' fill='%23717781'/%3E%3Crect x='5.5' y='5.5' width='7' height='1' rx='0.5' fill='%23717781' stroke='%23717781'/%3E%3Crect x='5.5' y='9.5' width='5' height='1' rx='0.5' fill='%23717781' stroke='%23717781'/%3E%3C/svg%3E");
}

.BXSQ8s4gfq[data-control-id="watermarking"] ._33nnkxMPOU::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' transform='translate%281 1%29' fill='none'/%3E%3Cpath d='M16.9951 16.4898C16.9398 16.1279 16.8805 15.5453 16.8805 14.7079C16.8805 13.8705 16.9396 13.2878 16.9951 12.9259C17.0128 12.81 16.9819 12.7138 16.9112 12.6243C16.8404 12.5347 16.7369 12.5056 16.6277 12.5056H12.2915C11.4883 12.5056 10.8371 11.8545 10.8371 11.0512C10.8371 10.6849 11.0107 10.3403 11.1115 9.98806C11.3077 9.30186 11.0277 8.37784 11.4842 7.06742C12.1105 5.26966 12.4342 4.82022 12.4342 3.69663C12.4342 1.83506 10.7244 1 8.99485 1C7.26535 1 5.55287 1.83506 5.55287 3.69663C5.55287 4.82022 5.88822 5.26966 6.51449 7.06742C6.97101 8.37788 6.69183 9.30191 6.88848 9.98812C6.9894 10.3403 7.16297 10.6849 7.16297 11.0512C7.16297 11.8545 6.51181 12.5056 5.70856 12.5056H1.37223C1.26301 12.5056 1.15913 12.5346 1.08849 12.6243C1.01784 12.714 0.987114 12.8211 1.00498 12.9373C1.06026 13.2991 1.11955 13.876 1.11955 14.7134C1.11955 15.5508 1.06043 16.1306 1.00498 16.4925C0.987281 16.6084 1.01818 16.7481 1.08882 16.8377C1.15946 16.9272 1.26301 17 1.37223 17H2.11507C2.29278 17 2.98767 17 3.17104 17H14C13.7359 17 14.1835 17 14 17H15.885H16.6278C16.7371 17 16.8409 16.9261 16.9116 16.8364C16.9822 16.7467 17.0128 16.6058 16.9951 16.4898ZM6.59933 3.69663C6.59933 3.20926 6.77552 2.85654 7.15362 2.58688C7.57247 2.28809 8.29543 2.1236 9.00003 2.1236C9.70463 2.1236 10.4276 2.28809 10.8464 2.58688C11.2245 2.85672 11.4007 3.20926 11.4007 3.69663C11.4007 4.4871 11.187 4.79811 10.7262 6.10688C10.6652 6.28 10.5993 6.46769 10.5278 6.67281C10.1846 7.65816 10.1869 8.46733 10.1888 9.05825C10.1894 9.24437 10.1902 9.5131 10.1674 9.63084C10.1619 9.65933 10.1592 9.67118 10.1378 9.69074C10.1234 9.70388 10.0925 9.72557 10.0745 9.73303C9.94217 9.78788 9.56686 9.8764 9.0002 9.8764C8.43949 9.8764 8.06599 9.78973 7.93012 9.73477C7.90924 9.72632 7.87451 9.70222 7.85829 9.68657C7.83838 9.66737 7.83751 9.6578 7.8323 9.63063C7.8102 9.51517 7.81102 9.24511 7.81145 9.05843C7.81329 8.46751 7.8158 7.65834 7.47243 6.67299C7.40095 6.46786 7.33499 6.28018 7.27403 6.10706C6.8131 4.79811 6.59933 4.4871 6.59933 3.69663ZM8.165 11.7714C8.165 11.3379 8.53929 10.9989 8.97283 11C8.98187 11 8.99094 11 9.00003 11C9.00913 11 9.01819 11 9.02723 11C9.46077 10.9989 9.83506 11.3379 9.83506 11.7714C9.83506 12.1769 9.50635 12.5056 9.10087 12.5056H8.89919C8.49371 12.5056 8.165 12.1769 8.165 11.7714ZM2.16317 14.7528C2.16317 14.1208 2.66355 13.5843 3.2956 13.5843H7.12122H10.8788H14.7044C15.3364 13.5843 15.8367 14.1208 15.8367 14.7528C15.8367 15.3852 15.3369 15.9213 14.7045 15.9213H3.29544C2.66302 15.9213 2.16317 15.3852 2.16317 14.7528Z' fill='%23717781'/%3E%3Cpath d='M14 17H3.17104C2.98767 17 2.29278 17 2.11507 17H1.37223C1.26301 17 1.15946 16.9272 1.08882 16.8377C1.01818 16.7481 0.987281 16.6084 1.00498 16.4925C1.06043 16.1306 1.11955 15.5508 1.11955 14.7134C1.11955 13.876 1.06026 13.2991 1.00498 12.9373C0.987114 12.8211 1.01784 12.714 1.08849 12.6243C1.15913 12.5346 1.26301 12.5056 1.37223 12.5056H5.70856C6.51181 12.5056 7.16297 11.8545 7.16297 11.0512V11.0512C7.16297 10.6849 6.9894 10.3403 6.88848 9.98812C6.69183 9.30191 6.97101 8.37788 6.51449 7.06742C5.88822 5.26966 5.55287 4.82022 5.55287 3.69663C5.55287 1.83506 7.26535 1 8.99485 1C10.7244 1 12.4342 1.83506 12.4342 3.69663C12.4342 4.82022 12.1105 5.26966 11.4842 7.06742C11.0277 8.37784 11.3077 9.30186 11.1115 9.98806C11.0107 10.3403 10.8371 10.6849 10.8371 11.0512V11.0512C10.8371 11.8545 11.4883 12.5056 12.2915 12.5056H16.6277C16.7369 12.5056 16.8404 12.5347 16.9112 12.6243C16.9819 12.7138 17.0128 12.81 16.9951 12.9259C16.9396 13.2878 16.8805 13.8705 16.8805 14.7079C16.8805 15.5453 16.9398 16.1279 16.9951 16.4898C17.0128 16.6058 16.9822 16.7467 16.9116 16.8364C16.8409 16.9261 16.7371 17 16.6278 17H15.885H14ZM14 17C14.1835 17 13.7359 17 14 17ZM6.59933 3.69663C6.59933 3.20926 6.77552 2.85654 7.15362 2.58688C7.57247 2.28809 8.29543 2.1236 9.00003 2.1236C9.70463 2.1236 10.4276 2.28809 10.8464 2.58688C11.2245 2.85672 11.4007 3.20926 11.4007 3.69663C11.4007 4.4871 11.187 4.79811 10.7262 6.10688C10.6652 6.28 10.5993 6.46769 10.5278 6.67281C10.1846 7.65816 10.1869 8.46733 10.1888 9.05825C10.1894 9.24437 10.1902 9.5131 10.1674 9.63084C10.1619 9.65933 10.1592 9.67118 10.1378 9.69074V9.69074C10.1234 9.70388 10.0925 9.72557 10.0745 9.73303C9.94217 9.78788 9.56686 9.8764 9.0002 9.8764C8.43949 9.8764 8.06599 9.78973 7.93012 9.73477C7.90924 9.72632 7.87451 9.70222 7.85829 9.68657V9.68657C7.83838 9.66737 7.83751 9.6578 7.8323 9.63063C7.8102 9.51517 7.81102 9.24511 7.81145 9.05843C7.81329 8.46751 7.8158 7.65834 7.47243 6.67299C7.40095 6.46786 7.33499 6.28018 7.27403 6.10706C6.8131 4.79811 6.59933 4.4871 6.59933 3.69663ZM9.00003 11C8.99094 11 8.98187 11 8.97283 11C8.53929 10.9989 8.165 11.3379 8.165 11.7714V11.7714C8.165 12.1769 8.49371 12.5056 8.89919 12.5056H9.10087C9.50635 12.5056 9.83506 12.1769 9.83506 11.7714V11.7714C9.83506 11.3379 9.46077 10.9989 9.02723 11C9.01819 11 9.00913 11 9.00003 11ZM7.12122 13.5843H3.2956C2.66355 13.5843 2.16317 14.1208 2.16317 14.7528V14.7528V14.7528C2.16317 15.3852 2.66302 15.9213 3.29544 15.9213H14.7045C15.3369 15.9213 15.8367 15.3852 15.8367 14.7528V14.7528V14.7528C15.8367 14.1208 15.3364 13.5843 14.7044 13.5843H10.8788H7.12122Z' stroke='%23717781' stroke-width='0.5'/%3E%3C/svg%3E");
}

/* From header.css */
:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

:root {
  /**
   * Width of the pane stack (e.g. where comments/metadata panes actually render).
   */

  /**
   * Width of the control list to the right of the sidebar pane stack.
   */

  /**
   * Width of the control list when the user hovers over collapsed control list.
   */

  /**
   * Total width of the sidebar when it is collapsed.
   */

  /**
   * Total width of the sidebar when the pane stack is expanded.
   */

  /**
   * The width/height of the icons of the controls in the control list.
   */

  /**
   * The width and height of a control button excluding padding.
   */
}

._2PGvvyezID {
  display: flex;
  align-items: center;
  height: 56px;
  padding-left: 8px;
  background: white;
}

.JNzCLEJ9KG {
  display: flex;
  align-items: center;
  flex: 1;
}

._38xOCX25Qt {
  padding-right: 8px;
}

._2YfLaf8L7b {
  display: flex;
}

/**
 * Add padding between the CTAs.
 */

._2YfLaf8L7b > *:not(:last-child) {
  margin-right: 8px;
}

._15d1-PI7jT {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
}

/* From pane_stack.css */
:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

:root {
  /**
   * Width of the pane stack (e.g. where comments/metadata panes actually render).
   */

  /**
   * Width of the control list to the right of the sidebar pane stack.
   */

  /**
   * Width of the control list when the user hovers over collapsed control list.
   */

  /**
   * Total width of the sidebar when it is collapsed.
   */

  /**
   * Total width of the sidebar when the pane stack is expanded.
   */

  /**
   * The width/height of the icons of the controls in the control list.
   */

  /**
   * The width and height of a control button excluding padding.
   */
}

._1I6XjY7iD9 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 320px;
  background: #f7f9fa;
  display: flex;
  flex-direction: column;
}

/* From pane.css */
:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

.mr8CWsBI-a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #f7f9fa;
  z-index: 0;
}

/* From sidebar.css */
:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

:root {
  /**
   * Width of the pane stack (e.g. where comments/metadata panes actually render).
   */

  /**
   * Width of the control list to the right of the sidebar pane stack.
   */

  /**
   * Width of the control list when the user hovers over collapsed control list.
   */

  /**
   * Total width of the sidebar when it is collapsed.
   */

  /**
   * Total width of the sidebar when the pane stack is expanded.
   */

  /**
   * The width/height of the icons of the controls in the control list.
   */

  /**
   * The width and height of a control button excluding padding.
   */
}

._1ah_BhOiDc {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 48px;
  transition: width 150ms ease-out;
}

._2HMOm5Hi5o {
  position: relative;
  flex: 1;
}

._35m4GZHt8p {
  width: 368px;
}

/* From pass.css */
._38GjlTWaQc {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 14px;
}

._2s5rFRYcHq {
  font-size: 12px;
  line-height: 14px;
}

._2s5rFRYcHq h3 {
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  margin: 0;
}

/* From preview-core.css */
/**
 * Make sure preview layout centers things
 * including the absolute toolbar below
 */
._2pz0EjZoOj {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* Position toolbar */
._2pz0EjZoOj ._1COr9ZzNP6 {
  position: absolute;
  bottom: 16px;
  opacity: 0;
  z-index: 1;

  /* move it down so it doesn't block content */
  transform: translateY(500px);

  /* fade out, then move */
  transition: opacity 0.3s, transform 0.01s 0.3s;
}
._2pz0EjZoOj:hover ._1COr9ZzNP6 {
  opacity: 1;
  transform: translateY(0);

  /* move up, then fade in */
  transition: transform 0.01s, opacity 0.3s 0.01s;
}

/* From preview-doc.css */
/**
 * Make sure preview layout centers things
 * including the absolute toolbar below
 */._2pz0EjZoOj {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}/* Position toolbar */._2pz0EjZoOj ._1COr9ZzNP6 {
  position: absolute;
  bottom: 16px;
  opacity: 0;
  z-index: 1;

  /* move it down so it doesn't block content */
  transform: translateY(500px);

  /* fade out, then move */
  transition: opacity 0.3s, transform 0.01s 0.3s;
}._2pz0EjZoOj:hover ._1COr9ZzNP6 {
  opacity: 1;
  transform: translateY(0);

  /* move up, then fade in */
  transition: transform 0.01s, opacity 0.3s 0.01s;
}

:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

._3ziulaHePS {
  fill: transparent;
  opacity: 0.4; /* to dim Ctrl+F search highlight */
}

._3ndj83M4eq {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
}

._3ndj83M4eq ::selection {
  /* Make sure the invisible text is hidden in IE */
  background: #b3d4fc;
}

._1GmxSv9K16 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  transform-origin: top left;
}

._1GmxSv9K16 a, ._1GmxSv9K16 .qFXGCc3-qr {
  display: block;
  cursor: pointer;
}

._1GmxSv9K16 a:focus, ._1GmxSv9K16 .qFXGCc3-qr:focus, ._3ziulaHePS a:focus {
  outline: auto;
}

._1qH62_aIXP {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

._1qH62_aIXP > img {
  max-width: 100%;
  -ms-user-select: none;
      user-select: none;
  pointer-events: none;
  display: block;
  image-rendering: -webkit-optimize-contrast; /* Chrome and Safari */
  image-rendering: crisp-edges;
  image-rendering: optimizeQuality;
}

._18ILuEjD0J {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  z-index: 1;
}

._3DaXQB8TXp {
  margin: 16px;
}

.EQJE7qmsBz ._3DaXQB8TXp {
  margin: 0;
  position: relative;
}

._3e2JnVcNbI ._3DaXQB8TXp {
  background-color: white;
  box-sizing: border-box;
  flex-shrink: 0; /* Allows zooming to work properly */
  margin: auto;
  position: relative;
}

._3e2JnVcNbI {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

._2V2DPcVyRQ {
  display: block;
}

.EQJE7qmsBz {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
}

._2vSqL8i6js {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  height: 100%;
}

._2vSqL8i6js ol {
  list-style: none;
  margin: auto;
}

.EQJE7qmsBz ol, ._3e2JnVcNbI ol {
  padding: 0;
}

.EQJE7qmsBz li {
  margin: 16px;
}

.G9Vk0xs9k- {
}

._3tV3E8b1lQ {
}

/* From preview-error.css */
:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

._1gUqDp17RI {
  text-align: center;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
}

._1lu4dJdsKo {
  max-height: 300px;
}

.GVbENI6bxm {
  margin: 14px 0 8px;
}

.GVbENI6bxm h1 {
  font-size: 18px;
}

._1d_V7x7-Fc {
  font-size: 14px;
  line-height: 18px;
}

._2BEWvdoier {
  /**
   * Override standard Spectrum secondary bg button color for visibility
   * on the error screen (mirrors CB's detailHeaderPopoutButton class)
   */
  background-color: rgba(29, 39, 55, 0.05);
  margin-top: 8px;
}

._4S4Uc8LT1A {
  color: #0052d9;
}

/* From preview-html.css */
/* Make iframes scrollable on iOS devices (iOS 8+) */
.gBo3THQyvt.c5RLDOo1kD {
  overflow: 'auto';
  -webkit-overflow-scrolling: 'touch';
}

/* From preview-image.css */
._3fqREDOmbd {
  position: relative;
  display: inline-block;
  margin: 13px 0;
  text-indent: -1000vw;
  font-size: 0;
  color: transparent;
  animation-delay: 0.3s;
}._3fqREDOmbd {
  border-radius: 100%;
  background-color: black;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  animation: _3tD7Bl0XGQ 0.9s ease-in-out infinite;
}._3fqREDOmbd::after {
  border-radius: 100%;
  background-color: black;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  animation: _3tD7Bl0XGQ 0.9s ease-in-out infinite;
}._3fqREDOmbd::before {
  border-radius: 100%;
  background-color: black;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  animation: _3tD7Bl0XGQ 0.9s ease-in-out infinite;
}._3fqREDOmbd::after, ._3fqREDOmbd::before {
  content: '';
  vertical-align: middle;
  position: absolute;
}._3fqREDOmbd::before {
  margin-left: 10px;
  left: 0;
}._3fqREDOmbd::after {
  right: 0;
  margin-right: 10px;
  animation-delay: 0.6s;
}@keyframes _3tD7Bl0XGQ {
  50% {
    opacity: 1;
  }

  0%, 100% {
    opacity: 0.3;
  }
}/**
 * Make sure preview layout centers things
 * including the absolute toolbar below
 */._2pz0EjZoOj {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}/* Position toolbar */._2pz0EjZoOj ._1COr9ZzNP6 {
  position: absolute;
  bottom: 16px;
  opacity: 0;
  z-index: 1;

  /* move it down so it doesn't block content */
  transform: translateY(500px);

  /* fade out, then move */
  transition: opacity 0.3s, transform 0.01s 0.3s;
}._2pz0EjZoOj:hover ._1COr9ZzNP6 {
  opacity: 1;
  transform: translateY(0);

  /* move up, then fade in */
  transition: transform 0.01s, opacity 0.3s 0.01s;
}

:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

._1qfmN8XukH {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

._10XzzxD2-Q {
  position: absolute;
  left: 50%;
  top: 50%;
}

.LbSAq7r5DB, ._19VoPo7qJu {
  position: absolute;

  /* We rely on sizer to keep the aspect ratio */
  width: 100%;
  height: 100%;
}

._3JPQLClVw4 {
  position: absolute;
}

/*
 * When we're in zoom-fit/initial state
 */

._1qfmN8XukH._2G_smAf1kF {
  padding: 40px 36px;
}

/*
 * When we're in zoom fit, we don't know what the dimensions are yet,
 * so we're absolute-centered everything and let native browser layout
 * scale for us
 */

._1qfmN8XukH._2G_smAf1kF ._3JPQLClVw4 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

._3jv_DqNZ9O {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

._3JKBC6YHnm {
}

._3V4LFrZZUw {
}

/* From preview-linkfile.css */
._2t-atmU6yN {
  padding: 40px;
  background-color: white;
  border: 1px solid rgba(#d0d4d9, 1);
  border-radius: 7px;
  width: 300px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
}

._1wYc5DxX8a {
  transition: visibility 0.2s, opacity 0.2s;
  text-align: center;
}

._1Sj0wUpRsk {
  width: 64px;
  height: 64px;
}

.fcAQTZoIW4 {
  height: 24px;
  width: 24px;
}

._1GjWs-R5x0 {
  margin: 8px 0;
  font-size: 14px;
}

._1JkA9IScIk {
  font-weight: bold;
}

._3tdkwnmuTj {
  font-size: 13px;
  color: rgba(#47525d, 1);
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._1K6KbFc0jt {
  visibility: hidden;
}

._1K6KbFc0jt._3IiD6yS685 {
  visibility: visible;
}

._2FixEIgvDh {
  white-space: normal;
}

/* From sidebar.css */
._1y1RJaYN-V {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

.BZaZvK1aWa {
  width: 24px;
  height: 24px;
}

._2dScMicijE {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 7V13M6 10H12' stroke='white' stroke-width='2'/%3E%3Ccircle cx='18' cy='11' r='2' fill='white' stroke='white' stroke-width='2'/%3E%3Cpath d='M23 22V22.25C23 22.3881 22.8881 22.5 22.75 22.5H13.25C13.1119 22.5 13 22.3881 13 22.25V22C13 19.2386 15.2386 17 18 17C20.7614 17 23 19.2386 23 22Z' fill='white' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
}

._2qETy_tpEU {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='10' y='22' width='12' height='2' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.5 8C14.2239 8 14 8.22386 14 8.5V14H12.0154C11.6006 14 11.3662 14.476 11.6191 14.8049L15.2074 19.4696C15.6077 19.99 16.3923 19.99 16.7926 19.4696L20.3809 14.8049C20.6338 14.476 20.3994 14 19.9846 14H18V8.5C18 8.22386 17.7762 8 17.5 8H14.5Z' fill='black'/%3E%3C/svg%3E");
}

._1aLJVPR-05 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23 21.5V17H21V21H11V11H15V9H10.5C9.67157 9 9 9.67157 9 10.5V21.5C9 22.3284 9.67157 23 10.5 23H21.5C22.3284 23 23 22.3284 23 21.5Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.6036 9C17.3808 9 17.2693 9.26929 17.4268 9.42678L19.1819 11.1819L14.5 15.8639L16.1147 17.4786L20.7967 12.7967L22.5732 14.5732C22.7307 14.7307 23 14.6192 23 14.3964V9.5C23 9.22386 22.7761 9 22.5 9H17.6036Z' fill='black'/%3E%3C/svg%3E");
}

._26Sn9a_QwU {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url%28%23clip0%29'%3E%3Cg clip-path='url%28%23clip1%29'%3E%3Ccircle cx='16' cy='11.25' r='3' fill='white'/%3E%3Cpath d='M10 22.25C10 18.9363 12.6863 16.25 16 16.25C19.3137 16.25 22 18.9363 22 22.25V22.5C22 23.1904 21.4404 23.75 20.75 23.75H11.25C10.5596 23.75 10 23.1904 10 22.5V22.25Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='32' height='32' fill='white' transform='translate%280 -0.5%29'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

._3wUKoRIspz .mc-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

._3wUKoRIspz ._1aLJVPR-05 {
  margin-right: 6px;
}

._27y_BWbakH.mc-button, ._374Nn8EeU_.mc-button, ._3Qr0VPhJLb.mc-button, ._29yqZfRwpA.mc-button {
  padding: 0 6px;
}

._27y_BWbakH .mc-button-content, ._374Nn8EeU_ .mc-button-content, ._3Qr0VPhJLb .mc-button-content, ._29yqZfRwpA .mc-button-content {
  display: flex;
  align-items: center;
  justify-items: center;
}

/* From titlebar.css */
._1y1RJaYN-V {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

:root {

  /* 40px is reserved for the 3 control buttons on desktop */
}

._2zFG1AXuwi {
  text-align: center;
  height: 40px;
  background: #f0f1f2;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b2733;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  padding: 0 40px;
}

._2zFG1AXuwi h1 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  display: block;
}

.TAng92Y97t {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.yjrakxdJ30 {
  cursor: pointer;
  height: 16px;
  width: 16px;
}

._1tab9TM4BF {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' width='100%25' height='100%25' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.03033 8.46967L10.5 6L11.5607 7.06066L8.56066 10.0607C8.26777 10.3536 7.79289 10.3536 7.5 10.0607L4.5 7.06066L5.56066 6L8.03033 8.46967Z' style='fill:%231b2733' transform='rotate%2890%29 translate%280%2C -16%29'/%3E%3C/svg%3E");
}

._1MIz6hsFY5 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' width='100%25' height='100%25' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.14008 7.84018L5.67041 10.3098L4.60975 9.24918L7.60975 6.24918C7.90264 5.95629 8.37752 5.95629 8.67041 6.24918L11.6704 9.24918L10.6098 10.3098L8.14008 7.84018Z' style='fill:%231b2733' transform='rotate%2890%29 translate%280%2C -16%29'/%3E%3C/svg%3E");
}

._3Aim4i7fGV {
  visibility: hidden;
  z-index: 0;
  position: fixed;
  top: -200px;
  left: 0;
  width: 9999px;
  height: 100px;
}

/* From toolbar.css */
._1y1RJaYN-V {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

._1x63kVqkYi {
  box-sizing: border-box;
  background-color: #1b2733;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
}

/* Toolbar child controls */

._3MS_sSk8v2 {
  /* Reset bc these buttons only have icons */
  font-size: 0;
  line-height: 0;
}

._3MS_sSk8v2:not(:first-child) {
  margin-left: 8px;
}

._3MS_sSk8v2:disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* SVG icon content for toolbar controls in metaserver */

._2ITlwxtTc0 {
  width: 32px;
  height: 32px;
}

.JfmmWYGWiP {
  width: 32px;
  height: 32px;
}

._1BXWzdKZcg {
  width: 32px;
  height: 32px;
}

._230L9B_VOu {
  width: 32px;
  height: 32px;
}

._2Ht3Oh1zrp {
  width: 32px;
  height: 32px;
}

.RkgEctpAaM {
  width: 32px;
  height: 32px;
}

._2P1wnPKDti {
  width: 32px;
  height: 32px;
}

._1_6p5OEl7w {
  width: 16px;

  /* Keep height the same as other button so that tooltip can anchor correctly */
  height: 32px;
}

._3jVU5iQ-xK {
  width: 16px;

  /* Keep height the same as other button so that tooltip can anchor correctly */
  height: 32px;
}

._2ITlwxtTc0 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' width='100%25' height='100%25' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.03033 8.46967L10.5 6L11.5607 7.06066L8.56066 10.0607C8.26777 10.3536 7.79289 10.3536 7.5 10.0607L4.5 7.06066L5.56066 6L8.03033 8.46967Z' style='fill: white' transform='rotate%2890%29 translate%280%2C -16%29'/%3E%3C/svg%3E");
}

.JfmmWYGWiP {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' width='100%25' height='100%25' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.14008 7.84018L5.67041 10.3098L4.60975 9.24918L7.60975 6.24918C7.90264 5.95629 8.37752 5.95629 8.67041 6.24918L11.6704 9.24918L10.6098 10.3098L8.14008 7.84018Z' style='fill: white' transform='rotate%2890%29 translate%280%2C -16%29'/%3E%3C/svg%3E");
}

._1BXWzdKZcg {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPreview toolbar fullscreen icon%3C/title%3E%3Cdefs%3E%3Cpath d='M24.4849992%2C24.4855626 L18.7572778%2C24.1825877 C18.2067058%2C24.1534646 18.0820849%2C23.8138924 18.4721887%2C23.4237756 L19.8870931%2C22.0088243 L16.3535412%2C18.475155 L18.4747911%2C16.3538346 L22.008343%2C19.8875039 L23.4232475%2C18.4725525 C23.8165952%2C18.0791917 24.1530718%2C18.2100787 24.1820344%2C18.7576511 L24.4849992%2C24.4855626 Z M7.51499987%2C7.51499987 L13.2427212%2C7.81797473 C13.7902754%2C7.84693829 13.9211581%2C8.18342601 13.5278103%2C8.57678684 L12.1129059%2C9.99173823 L15.6464579%2C13.5254075 L13.525208%2C15.6467279 L9.991656%2C12.1130586 L8.57675159%2C13.52801 C8.18664774%2C13.9181268 7.84708689%2C13.7935017 7.81796467%2C13.2429114 L7.51499987%2C7.51499987 Z' id='path-1'/%3E%3C/defs%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='rotate%2890%29 translate%280%2C -32%29'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'/%3E%3C/mask%3E%3Cuse id='Combined-Shape' fill='%23000000' xlink:href='%23path-1'/%3E%3Cg id='Fill-Color-Stone' mask='url%28%23mask-2%29' fill='%23FFFFFF'%3E%3Crect id='Fill' x='0' y='0' width='32' height='32'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

._1_6p5OEl7w {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 16px%3Bwidth: 16px%3B' width='100%25' height='100%25' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.38439 0.55957L8 1.17552L4.8078 4.3695C4.63781 4.53959 4.36219 4.53959 4.1922 4.3695L1 1.17552L1.61561 0.55957L4.5 3.44558L7.38439 0.55957Z' fill='white'/%3E%3C/svg%3E");
}

._3jVU5iQ-xK {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 16px%3Bwidth: 16px%3B' width='100%25' height='100%25' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.61561 4.49707L1 3.88112L4.1922 0.687138C4.36219 0.517048 4.63781 0.517048 4.8078 0.687138L8 3.88112L7.38439 4.49707L4.5 1.61106L1.61561 4.49707Z' fill='white'/%3E%3C/svg%3E");
}

._230L9B_VOu {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M26%2C8 L26%2C24 L6%2C24 L6%2C8 L26%2C8 Z M8%2C10 L8%2C22 L24%2C22 L24%2C10 L8%2C10 Z M12%2C12 L12%2C20 L10%2C20 L10%2C12 L12%2C12 Z' id='path-1'/%3E%3C/defs%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'/%3E%3C/mask%3E%3Cuse id='Mask' fill='%23000000' fill-rule='nonzero' xlink:href='%23path-1'/%3E%3Cg mask='url%28%23mask-2%29' fill='%23FFFFFF'%3E%3Crect id='Fill' x='0' y='0' width='32' height='32'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

._2Ht3Oh1zrp {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M26%2C8 L26%2C24 L6%2C24 L6%2C8 L26%2C8 Z M14%2C10 L14%2C22 L24%2C22 L24%2C10 L14%2C10 Z M8%2C10 L8%2C22 L12%2C22 L12%2C10 L8%2C10 Z M11%2C11 L11%2C13 L9%2C13 L9%2C11 L11%2C11 Z M11%2C15 L11%2C17 L9%2C17 L9%2C15 L11%2C15 Z M11%2C19 L11%2C21 L9%2C21 L9%2C19 L11%2C19 Z' id='path-1'/%3E%3C/defs%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'/%3E%3C/mask%3E%3Cuse id='Mask' fill='%23000000' fill-rule='nonzero' xlink:href='%23path-1'/%3E%3Cg mask='url%28%23mask-2%29' fill='%23FFFFFF'%3E%3Crect id='Fill' x='0' y='0' width='32' height='32'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.RkgEctpAaM {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPreview toolbar zoom in icon%3C/title%3E%3Cdefs/%3E%3Cg id='zoom-in-icon' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Increase' transform='translate%288.000000%2C 8.000000%29'%3E%3Ccircle id='Oval' stroke='%23fff' cx='8.5' cy='8.5' r='8'/%3E%3Crect id='Rectangle-2' fill='%23fff' x='4' y='8' width='9' height='1'/%3E%3Crect id='Rectangle-2-Copy' fill='%23fff' transform='translate%288.500000%2C 8.500000%29 rotate%28-270.000000%29 translate%28-8.500000%2C -8.500000%29 ' x='4' y='8' width='9' height='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

._2P1wnPKDti {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPreview toolbar zoom out icon%3C/title%3E%3Cdefs/%3E%3Cg id='zoom-out-icon' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Decrease' transform='translate%288.000000%2C 8.000000%29'%3E%3Ccircle id='Oval' stroke='%23fff' cx='8.5' cy='8.5' r='8'/%3E%3Crect id='Rectangle-2' fill='%23fff' x='4' y='8' width='9' height='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* SVG icon content for toolbar controls on desktop */

/* File flipping button controls */

._1Xy4vmCrmv {
  align-items: center;
  margin-left: 0;
  display: flex;
}

._1Xy4vmCrmv > div {
  padding-left: 6px;
  padding-right: 6px;
  white-space: nowrap;
}

/* Page number indicator input */

._2UCcY_L_ut {
  border-bottom: 1px solid #6a7c8f;
  font-weight: 500;
  padding: 0 4px 0 0;
}

._2UCcY_L_ut:hover {
  border-bottom: 2px solid #6a7c8f;
}

._2UCcY_L_ut.fFd_Ukn_Rn, ._2UCcY_L_ut.fFd_Ukn_Rn:hover {
  border-bottom: 0;
}

._2UCcY_L_ut div._2AS2IpIvyj {
  margin-left: 16px;
  margin-right: 16px;
}

._2lAAAHouQ7 {
  display: inline-block;
}

._2XAzYxu3_c {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 0 2px 2px 4px;
  text-align: center;
  width: 28px;
}

._2XAzYxu3_c:focus {
  border: 2px solid #6a7c8f;
  border-radius: 3px;
  font-size: 12px;
  font-weight: normal;
  height: 24px;
  min-width: 40px;
  outline: none;
  text-align: left;
}

._2XAzYxu3_c._1OQ3or8fKn {
  border: 0;
  font-size: 14px;
  font-weight: 500;
  min-width: 18px;
  text-align: center;
}

._1f0fWYhQct {
  display: inline-block;
  min-width: 18px;
  text-align: center;
}

._2UCcY_L_ut ._1uX-Yvcuyj {
  display: none;
}

/* Zoom to fit/actual size button */

.BwAKgVnIAr {
  line-height: 14px;
  margin-left: 8px;
}

._3f_2x8b6A8 {
  color: white;
}

/* From tray_app.css */
._1y1RJaYN-V {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

:root {

  /* Maestro Colors */

  /**
   * Core Colors from DIG: https://app.dropboxer.net/dig/platforms/web/color
   */
}

._1CIkDUjGqw {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' width='100%25' height='100%25' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.03033 8.46967L10.5 6L11.5607 7.06066L8.56066 10.0607C8.26777 10.3536 7.79289 10.3536 7.5 10.0607L4.5 7.06066L5.56066 6L8.03033 8.46967Z' style='fill: white' transform='rotate%2890%29 translate%280%2C -16%29'/%3E%3C/svg%3E");
}

._2VTgQuo8Gi {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg style='height: 32px%3Bwidth: 32px%3B' width='100%25' height='100%25' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.14008 7.84018L5.67041 10.3098L4.60975 9.24918L7.60975 6.24918C7.90264 5.95629 8.37752 5.95629 8.67041 6.24918L11.6704 9.24918L10.6098 10.3098L8.14008 7.84018Z' style='fill: white' transform='rotate%2890%29 translate%280%2C -16%29'/%3E%3C/svg%3E");
}

/* SVG icon content for controls on desktop */

._1CIkDUjGqw {
  width: 24px;
  height: 24px;
}

._2VTgQuo8Gi {
  width: 24px;
  height: 24px;
}

._20Xpz0zDDM {
  min-width: 0;
}

.MUq3pmXvIh {
  min-width: 0;
}

._1ZWyX-ZhFS {
  min-width: 0;
}

._JeN3tT9RP {
  min-width: 0;
}

/* From utils.css */
._1y1RJaYN-V {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
